body amara   {
	overflow-y:scroll;
	overflow-x:scroll;
}
table	{
    font-family: "Sanskrit 2003", Kokila, Aparajita, Times, serif;
	font-size: 20px;
	border-collapse: collapse; 
	padding: 0 0 0 0px;
	page-break-after: avoid;
}
tr td {
	border-collapse: collapse; 
	padding: 0 0 0 0px;
/*	page-break-after: avoid; */
}
.nobreakafter {
	page-break-after: avoid;
/*	display:inline-block;
    display:block;
    height:0px;
    visibility: hidden; */
}
.breakafter {
	page-break-after: auto;
}
.gender { 
	text-align: center; 
	font-size: x-small; 
	line-height: 0.5em; 
	height: 0.6em;
}
.male {
	color: darkblue;
}
.female {
	color: darkred;
}
.neuter {
	color: darkgreen;
}
.adjective {
	color: darkgreen;
}
.filler {
	color: black;
}
.main { 
	padding-left: 30px; 
	padding-right: 30px; 
}

.compute {
    font-family: "Sanskrit 2003", Kokila, Aparajita, Times, serif;
	font-size: 20px;
	float: left; 
	color:transparent;
}
.words {  
	border-collapse:collapse; 
	padding-left: 10px; 
	width: 250; 
	text-align: left; 
	font-size: small; 
	font-family: "Arial Unicode MS", "Sanskrit 2003";   
}
.trans  { 
	text-align: right; 
	padding-top: 25px; 
	padding-right: 10px; 
	padding-bottom: 10pt; 
	font-family: "Sanskrit 2003", Kokila, Aparajita, Times, serif;
	/*font-family: "Times New Roman", serif; */
	font-size: 15px; 
}
.slokaNumber { 
	text-align: right; 
	padding-top: 25px; 
	padding-bottom: 10pt; 
	padding-right: 5px; 
/*	padding-bottom: 10pt;*/ 
	font-family: "Times New Roman", serif; 
	font-size: 10px; 
}
.end { text-align: center; vertical-align: top; font-size: small; line-height: 0.5em; height: 0.6em;  }
.entryshow { float:left; display:inline-block; vertical-align: middle; }
.entryhide { float:left; color:transparent; }

.box{
    display: none;
    width: 100%;
}

a:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 100;
}

.apte {
    text-decoration: none;
}